flet==0.80.5
flet-secure-storage
cryptography>=42.0.5
requests
qrcode
pillow
git+https://github.com/taellinglin/LunaLib.git@main#egg=lunalib
pyperclip
base58
tqdm
rich
packaging==24.2
#simpleaudio; sys_platform == "linux"
colorama